@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@600&display=swap');
:root{
    --cinzaclaro: #E5E5E5;
    --cinzaescuro:#989898;
    --black:#262626;
    --active-text:#980000;
    --red1:#CB0000;
    --red2:#B20000;
    --red4:#800000;
    --red3:#660000;
}
/*-----------------------------------Menu-----------------------------------*/
@media screen and (min-width: 793px) {
    .icon {
        display: none;
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        background: var(--cinzaclaro);
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
    }
    .nav__list{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 55px;
    }
    .logo{
        width: 200px;
    }
}
@media (min-width: 336px) and (max-width: 792px) {
    .logo,
    .nav__name{
        display: none;
    }
    .nav__list {
        position: absolute;
        bottom: 2rem;
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
        width: 90%;
        padding: 30px 40px;
        border-radius: 1rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        transition: .4s;
        z-index: 1000;
        background: var(--cinzaclaro);
  }
    i{
        font-size: 25px;
    }
    header{
        z-index: 100;
    }
}
@media (max-width: 335px) {
    .logo,
    .nav__name{
        display: none;
    }
    .nav__list {
        position: absolute;
        bottom: 2rem;
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
        width: 90%;
        padding: 20px 30px;
        border-radius: 1rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        transition: .4s;
        z-index: 1000;
        background: var(--cinzaclaro);
  }
}

.nav__link{
    color: var(--cinzaescuro);
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}
.nav__List a:hover{
    color: var(--active-text);
}
.active-link {
    color: var(--active-text);
}
/*-----------------------------------Menu-----------------------------------*/

/*-----------------------------------rodapé-----------------------------------*/
@media screen and (min-width: 793px){

}
@media (min-width: 336px) and (max-width: 792px){

}
@media (max-width: 335px){

}
/*-----------------------------------rodapé-----------------------------------*/
