@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@600&display=swap');
:root{
    --cinzaclaro: #E5E5E5;
    --cinzaescuro:#989898;
    --black:#262626;
    --active-text:#980000;
    --red1:#CB0000;
    --red2:#B20000;
    --red4:#800000;
    --red3:#660000;
}
/*-----------------------------------Menu-----------------------------------*/
@media screen and (min-width: 793px) {
    .icon {
        display: none;
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        background: var(--cinzaclaro);
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
    }
    .nav__list{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 55px;
    }
    .logo{
        width: 200px;
    }

}
@media (min-width: 336px) and (max-width: 792px) {
    .logo,
    .nav__name{
        display: none;
    }
    .nav__list {
        position: fixed;
        bottom: 2rem;
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
        width: 90%;
        padding: 30px 40px;
        border-radius: 1rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        transition: .4s;
        z-index: 1000;
        background: var(--cinzaclaro);
  }
    i{
        font-size: 25px;
    }
    header{
        z-index: 100;
    }
    #lastSection{
        margin-bottom:50px;
        background: var(--cinzaescuro);
    }
}
@media (max-width: 335px) {
    .logo,
    .nav__name{
        display: none;
    }
    .nav__list {
        position: fixed;
        bottom: 2rem;
        box-shadow: 0 8px 24px hsla(228, 81%, 24%, .15);
        width: 90%;
        padding: 20px 30px;
        border-radius: 1rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        transition: .4s;
        z-index: 1000;
        background: var(--cinzaclaro);
  }
}

.nav__link{
    color: var(--cinzaescuro);
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}
.nav__List a:hover{
    color: var(--active-text);
}
.active-link {
    color: var(--active-text);
}
/*-----------------------------------Menu-----------------------------------*/
@media screen{
    .paralax{
        background-image: url("../../static/images/ViaConteBG.png");
        padding: 230px 0px;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        justify-content: space-around;
    }
    .textAtencao{
        color: var(--cinzaescuro);
    }
    .paralax_text > h1{
        color: var(--cinzaclaro);
        padding-bottom: 50px;
    }
    .paralax_text{
        max-width: 300px;
        text-align: left;
    }
    .paralax_text > p{
         color: var(--cinzaclaro);
    }
    .paralax div{
        width: 50%;
    }
}

/*-----------------------------------rodapé-----------------------------------*/
#lastSection p{
    color: #fff;
}

@media screen and (min-width: 1200px){
    .redes_sociais{
        display: flex;
        position: absolute;
        column-gap: 20px;

    }
    .incons_sociais a{
        font-size: 20px;
        color: var(--black);
    }
    #logo_footer{
        padding-top: 150px;
    }
    #logo_footer img{
        width: 175px;
    }
    .container{
        padding: 75px 0px;

    }

    .row{
        column-gap: 50px;
    }
    #foot_mais_infor{
        width: 260px;
    }
    #lastSection{
        text-align: center;
        padding: 50px 0px;
        background: var(--red1);

    }
    #foot_end{
        padding-top: 30px;
        width: 330px;
        text-align: left;
        color: var(--cinzaescuro);
    }
}
@media (min-width: 768px) and (max-width: 1199px){
 .redes_sociais{
        display: flex;
        position: absolute;
        column-gap: 20px;

    }
    .incons_sociais a{
        font-size: 20px;
        color: var(--black);
    }
    #logo_footer{
        padding-top: 150px;
    }
    #logo_footer img{
        width: 175px;
    }
    .container{
        padding: 75px 0px;
    }

    .row{
        column-gap: 50px;
    }
    #foot_mais_infor{
        width: 260px;
    }
    #entre_contato{
        min-width: 355px;
        max-width: 360px;
    }

    #lastSection{
        text-align: center;
        padding: 50px 0px;
        background-color: var(--red1);
    }
    #foot_end{
        padding-top: 30px;
        width: 330px;
        text-align: left;
        color: var(--cinzaescuro);
    }
}
@media (max-width: 767px){
    .redes_sociais{
        display: flex;
        position: absolute;
        column-gap: 20px;

    }
    .incons_sociais a{
        font-size: 20px;
        color: var(--black);
    }
    #logo_footer{
        padding-top: 70px;
    }
    #logo_footer img{
        width: 175px;
    }
    .mapouter{
        padding-top: 30px;
        justify-content: center;
        position: center;
    }

    #lastSection{
        margin-top: 60px;
        text-align: center;
        padding: 50px 0px;
        background-color: var(--red1);
    }
    #foot_end{
        display: none;
    }
}
/*-----------------------------------rodapé-----------------------------------*/
