<!--<!DOCTYPE HTML>-->
<html>
    {% include 'imports/head.html' %}
    <body>
        {% include 'imports/header.html' %}
        <section class="paralax">
            <section class="paralax_text">
                <h1>Quais <span class="textAtencao">caminhos</span> sua <span class="textAtencao">empresa</span> tem trilhado?</h1>
                <p class="dasdas">
                    Contamos com profissionais com mais de 15 anos de experiência para direcionar sua empresa ao caminha certo.
                </p>
            </section>
            <div></div>
        </section>
        <section>
            <div>
                <div class="group" >
                    <div class="imgsobre">
                        <img src="../static/images/sobre-nos.png" alt="sobre nós">
                    </div>
                    <div class="txtsobre">
                        <h2>Sobre nós...</h2>
                        <p>Com uma trajetória no mercado há mais de 15 anos, a ViaConte vem construindo junto a seus
                            clientes uma parceria sólida, oferecendo total transparência nos serviços prestados, criando
                            com isso uma relação de confiança mútua e credibilidade. Nosso foco é a prestação de serviços
                            nas áreas Contábil, Fiscal, Pessoal, Financeira e Gestão de RH, possibilitando oportunidades
                            de decisões aos nossos parceiros e clientes.
                        </p>
                    </div>
                </div>
                <div class="homeLegendas">
                    <div></div>
                    <div class="homeMissao">
                        <i class='bx bxs-flag-alt'></i>
                        <h2>Missão</h2>
                        <p>
                            Prestar serviços contábeis com ética e transparência, visando atender as necessidades dos
                            clientes, auxiliando-os na gestão dos negócios.
                        </p>
                    </div>
                    <div class="homeVisao">
                        <i class='bx bxs-check-square' ></i>
                        <h2>Visão</h2>
                        <p>Ser referência em modelo de gestão contábil nas regiões nas quais atuamos.</p>
                    </div>
                    <div class="homeValores">
                        <i class='bx bxs-medal fa-2x' ></i>
                        <h2>Valores</h2>
                        <p>- Ética e transparência nos processos</p>
                        <p>- Credibilidade</p>
                        <p>- Comprometimento e pontualidade no atendimento dos prazos</p>
                        <p>- Qualidade nos serviços e no resultado</p>
                        <p>- Responsabilidade e resolutividade nas atividades</p>
                    </div>
                </div>
            </div>
            <div style="border: solid 2px #CB0000"></div>
        </section>
        <section class="parcerias">
            <h2 class="nossos_parceiros">Nossos parceiros</h2>
            <div class="container">
                <div class="glider">
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                    <div class="my-slider">
                        <div class="img-container">
                            <div class="box">
                                <img src="../static/images/sobre-nos.png" alt="" class="model">
                            </div>
                        </div>
                    </div>
                 </div>


                <div role="tablist" class="dots"></div>
            </div>

        </section>
        <section class="ultimasPostagem">
            <h2 class="ultimasPostagemTitle">Nossas últimas postagens</h2>
            <div class="container">

                    <div class="card_postagem">
                        <h3 class="title_card">Benefícios da gestão patrimonial</h3>
                        <p class="data">27.08.2022</p>
                        <div class="hr_card"></div>
                        <p class="card_conteudo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit sem, volutpat in nisi eu, porta condimentum tortor. In consectetur vulputate sem vel aliquam. Integer quis ipsum felis...
                        </p>
                    </div>
                    <div class="card_postagem">
                        <h3></h3>
                        <p class="data"></p>
                        <p></p>
                    </div>
                    <div class="card_postagem">
                        <h3></h3>
                        <p class="data"></p>
                        <p></p>
                    </div>
                    <div class="card_postagem">
                        <h3></h3>
                        <p class="data"></p>
                        <p></p>
                    </div>

            </div>
        </section>

        {% include 'imports/footer.html' %}
        <script>
            gliderAutoplay(
                new Glider(document.querySelector('.glider'), {
                    slidesToShow: 3.5,
                    slidesToScroll: 3,
                    rewind:true,
                    draggable: true,
                    dots: '.dots',
                    arrows: {
                        prev: '.glider-prev',
                        next: '.glider-next'
                    },
                    responsive: [
                        {
                          // screens greater than >= 1200px
                          breakpoint: 1200,
                          settings: {
                            // Set to `auto` and provide item width to adjust to viewport
                            slidesToShow: 3.5,
                            slidesToScroll: 2,
                          }
                        },{
                          // screens greater than >= 1024px
                          breakpoint: 900,
                          settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                          }
                        },{
                          // screens greater than >= 1024px
                          breakpoint: 640,
                          settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                          }
                        },{
                          // screens greater than >= 1024px
                          breakpoint: 304,
                          settings: {
                            slidesToShow: 1.5,
                            slidesToScroll: 1,
                          }
                        },{
                          // screens greater than >= 1024px
                          breakpoint: 0,
                          settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                          }
                        }

                    ]
                }),
                {
                    interval: 2000,
                }
            );
        </script>
    </body>
</html>