<!--<!DOCTYPE HTML>-->
<html>
    {% include 'imports/head.html' %}
    <body>
        {% include 'imports/header.html' %}
        <section class="paralax">
            <section class="paralax_text">
                <h1>Quais <span class="textAtencao">caminhos</span> sua <span class="textAtencao">empresa</span> tem trilhado?</h1>
                <p class="dasdas">
                    Contamos com profissionais com mais de 15 anos de experiência para direcionar sua empresa ao caminha certo.
                </p>
            </section>
            <div></div>
        </section>
        <section class="sobreNos">
            <div>
                <div>
                    <div>
                        <img src="../static/images/sobre-nos.png" alt="sobre nós">
                    </div>
                    <div>
                        <h2>Sobre nós...</h2>
                        <p>
                            Com uma trajetória no mercado há mais de 15 anos, a ViaConte vem construindo junto a seus
                            clientes uma parceria sólida, oferecendo total transparência nos serviços prestados, criando
                            com isso uma relação de confiança mútua e credibilidade. Nosso foco é a prestação de serviços
                            nas áreas Contábil, Fiscal, Pessoal, Financeira e Gestão de RH, possibilitando oportunidades
                            de decisões aos nossos parceiros e clientes.
                        </p>
                    </div>
                </div>
                <div>
                    <div style="border: solid 1px #989898"></div>
                    <div>
                        <i class='bx bxs-flag-alt'></i>
                        <h2>Missão</h2>
                        <p>
                            Prestar serviços contábeis com ética e transparência, visando atender as necessidades dos
                            clientes, auxiliando-os na gestão dos negócios.
                        </p>
                    </div>
                    <div>
                        <i class='bx bxs-check-square' ></i>
                        <h2>Visão</h2>
                        <p>Ser referência em modelo de gestão contábil nas regiões nas quais atuamos</p>
                    </div>
                    <div>
                        <i class='bx bxs-medal' ></i>
                        <h2>Valores</h2>
                        <p>- Ética e transparência nos processos</p>
                        <p>- Credibilidade</p>
                        <p>- Comprometimento e pontualidade no atendimento dos prazos</p>
                        <p>- Qualidade nos serviços e no resultado</p>
                        <p>- Responsabilidade e resolutividade nas atividades</p>
                    </div>
                </div>
            </div>
            <div style="border: solid 2px #CB0000"></div>
        </section>
        <section class="parcerias">
            <h2>Nossos parceiros</h2>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>

        </section>
        <section class="ultimasPostagem">
            <h2>Nossas últimas postagens</h2>
            <div>
                <h3></h3>
                <p class="data"></p>
                <p></p>
            </div>
            <div>
                <h3></h3>
                <p class="data"></p>
                <p></p>
            </div>
            <div>
                <h3></h3>
                <p class="data"></p>
                <p></p>
            </div>
            <div>
                <h3></h3>
                <p class="data"></p>
                <p></p>
            </div>
        </section>
        {% include 'imports/footer.html' %}
    </body>
</html>